.navbar{
    background-color: black;
    color: beige;
}
h2{
    text-align: center;
}
footer{
    text-align: center;
}
.imagen1{
    width: 130px;
    height: 150px;
}
body{
    background-color: black;
    color: azure;
}